.vue-form-generator {

  .form-group.collapsible {
    &.collapsed {
      .field-wrap {
        display: none;
      }

      & > label::after {
        transform: rotate(-90deg);
      }
    }

    & > label {
      cursor: pointer;
      width: 100%;

      &::after {
        font-family: 'fontawesome';
        content: '\f107';
        float: right;
        color: #bbb;
      }
    }
  }
}