.field-radios-labels-only, .field-checkboxes-labels-only {

  .field-wrap {
    .radio-list, .checkbox-list {

    }

    .radio-list label, .checkbox-list label {
      line-height: 1rem;
      padding: 2px 4px;
      display: inline-block;
      border: 1px solid $brand-disabled;
      border-radius: 2px;
      margin-left: 5px;
      background: $brand-disabled;
      color: white;
      cursor: pointer;
      font-size: 80%;

      &.is-checked {
        background: $brand-primary;
        border-color: $brand-primary;
      }

      &.is-disabled {
        background: #ddd !important;
        border-color: #ddd !important;
      }

      input {
        display: none;
      }
    }
  }
}