.annotation {
  //font-weight: bold;
  padding: 4px 0px;
  cursor: pointer;
}

@each $name, $color in $annotations {
  .annotation-#{$name} {
    background-color: rgba($color, $opacity-annotation) !important;
  }
  .annotation-#{$name}.annotation-#{$name} {

  }
}

@each $name, $color in $annotations {
  @each $name2, $color2 in $annotations {
    @if $name != $name2 {
      .annotation-#{$name}.annotation-#{$name2} {
        background-color: rgba(mix($color, $color2, 50%),$opacity-annotation);
      }
    }
  }
}

.annotation-result {
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  marging: -1px 0 -1px 0;

  &:first-child {
    border-top: 1px solid #ccc;
  }

  .annotation-details {
    margin-top: 10px
  }
}