.page-footer {
  .banner-img {
    background-color: $brand-primary;
  }

  .app-logo-container {
    text-align: center;
  }

  .app-logo {
    width: 200px;
    @media(min-width: $screen-sm-min) {
      width: 300px;
    }
  }
}
