$nau-font-path: '../../fonts/new-athena-unicode';

@font-face {
  font-family: 'NewAthenaUnicode';
  font-style: normal;
  font-weight: normal;
  src: url('#{$nau-font-path}/newathu5_5.woff');
  src: url('#{$nau-font-path}/newathu5_5.woff') format ('woff');
}

@font-face {
  font-family: 'NewAthenaUnicodeBold';
  font-style: normal;
  font-weight: bold;
  src: url('#{$nau-font-path}/newathuBold5_5.woff');
  src: url('#{$nau-font-path}/newathuBold5_5.woff') format ('woff');
}

@font-face {
  font-family: 'NewAthenaUnicodeBoldItalic';
  font-style: italic;
  font-weight: bold;
  src: url('#{$nau-font-path}/newathuBoldItalic5_5.woff');
  src: url('#{$nau-font-path}/newathuBoldItalic5_5.woff') format ('woff');
}

@font-face {
  font-family: 'NewAthenaUnicodeItalic';
  font-style: italic;
  font-weight: normal;
  src: url('#{$nau-font-path}/newathuItalic5_5.woff');
  src: url('#{$nau-font-path}/newathuItalic5_5.woff') format ('woff');
}

.greek {
  font-family: NewAthenaUnicode, Arial, sans-serif;
}

.greek-text {

  &__line {
    display: flex;
    line-height: 1.9;
  }

  &__line-number {
    flex: 0 0 30px;
    border-right: 1px solid #ccc;
    color: #ccc;
  }

  &__text {
    font-family: NewAthenaUnicode, Arial, sans-serif;
    padding-left: 0.5em
  }

  .annotation {
    font-family: NewAthenaUnicodeBold, Arial, Sans-Serif;
    color: $link-color;
  }
}

.greek-text + .greek-text {
  margin-top: 20px;
}

.modal-title {
  .greek {
    font-size: $fz-medium;
    font-weight: 500;
  }
}
