a {
  &.action {
    border-bottom: 0;

    .fa {
      margin-left: 0;
    }
  }

  &.action-margin-left {
    margin-left: 5px;
  }

  &.edit-link {
    border-bottom: 0;
  }
}

.h1 {
  a {
    &.action {
      font-size: $fz-default;
      padding-top: 22px;
    }
  }
}
