.text-structure {

  label {
    position: relative;
    left: -20px;
    margin-bottom: 20px;

    span {
      padding: 3px 10px;
      display: inline-block;
      border-right: 1px solid white;
    }
  }

  .level > label {
    background-color: #1E64C8;
    color: white;
  }

  .structure > label {
    background-color: #e9f0fa
  }


  .level {
    margin-bottom: 1em;
    padding-left: 20px;
    border-left: 2px solid #1E64C8;
  }

  .structure {
    margin-bottom: 1em;
    padding-left: 20px;
    border-left: 2px solid #e9f0fa;
  }

}