$maxwidth-container: 1600px;

$color-annotation-red: #e61919;
$color-annotation-orange: #f58231;
$color-annotation-green: #18aa2a;
$color-annotation-magenta: #f032e6;
$color-annotation-blue: #1E64C8;
$color-annotation-brown: #5d2802;
$opacity-annotation: 0.3;

$annotations: (
        "orthography": $color-annotation-orange,
        "typography": $color-annotation-red,
        "morpho_syntactical": $color-annotation-green,
        "lexis": $color-annotation-magenta,
        "language": $color-annotation-blue,
        "morphology": $color-annotation-brown
);