// webpack 5 fix for bootstrap glyph fonts
$icon-font-path: "../../fonts/bootstrap/";

$maxwidth-container: 1600px;

$color-lightgray: #ccc;

// annotations
$base-annotation-opacity: 0.3;

$handshift-annotations: (
        "1": #6200d1,
        "2": #008d7c,
        "3": #ffbc05,
        "4": #8aff05,
        "5": #ff7ec3,
        "6": #05d1ff,
        "7": #f51720,
        "8": #424600,
        "9": #613900,
);

$base-annotations: (
        "orthography": #f58231,
        "typography": #e61919,
        "morpho_syntactical": #18aa2a,
        "lexis": #f032e6,
        "language": #1E64C8,
        "morphology": #5d2802,
);

// color & top position of text structure annotations
$structure-annotations: (
        "unit": (red, 42px),
        "subunit": (orange, 38px),
        "element": (green, 34px),
        "modifier": (lightblue,30px),
);