.VueTables {

  .VueTables__sort-icon {
    color: #aaa;
  }

  // style navigation row
  .VueTables__beforeTable {
    display: flex;
    flex-wrap: nowrap;

    .VueTables__count {
      flex: 1;
      text-align: center;
    }

    .VueTables__limit {
      text-align: right;
    }

    .VueTables__pagination .pagination {
      margin: 0;
    }
  }



  .form-inline {
    display: flex;
    justify-items: center;
    align-content: center;

    //& > div {
    //  margin-right: 10px;
    //}
    //
    //&.pull-right > div {
    //  margin-left: 10px;
    //  margin-right: 0;
    //}

    label {
      margin-right: 0.3em;
    }


  }
}