.table {
  ul,
  ol {
    padding-left: 18px;

    li {
      margin-bottom: 8px;
      position: relative;

      a {
        border-bottom: 1px solid $brand-primary;

        &:hover,
        &:focus,
        &.selected {
          border-color: transparent;
          color: $brand-primary;
        }
      }
    }
  }

  .word-break {
    word-break: break-all;
  }
}

.modal-title {
  text-transform: none;
}

.bg-primary {
  a,
  .panno-arrow-right,
  .panno-arrow-left,
  .panno-plus {
    color: $white;
  }

  a {
    border-bottom-color: $white;
  }
}

.image-style-side,
.image-style-align-right {
  float: right;
  max-width: 200px;
}

.padding-left-small {
  padding-left: 5px;
}

.preserve-newlines {
  white-space: pre-line;
}

a {
  &.relUrl {
    margin-left: 1em;

    .fa {
      margin-left: 0;
    }
  }
}