.draggable-item {
  cursor: move;
  margin-bottom: 7px;
  transition: transform 0.5s;
}

.draggable-icon {
  margin-right: 10px;
}

.sortable-chosen {
  border-color: $brand-primary;
  color: $brand-primary;
}

.sortable-ghost {
  border: 0;
  color: $white;
}

.draggable-enter,
.draggable-leave-to {
  opacity: 0;
}

.draggable-enter-active,
.draggable-leave-active {
  transition: 0.5s;
}