$nau-font-path: '../../fonts/new-athena-unicode';

@font-face {
  font-family: 'NewAthenaUnicode';
  font-style: normal;
  font-weight: normal;
  src: url('#{$nau-font-path}/newathu5_5.woff');
  src: url('#{$nau-font-path}/newathu5_5.woff') format ('woff');
}

@font-face {
  font-family: 'NewAthenaUnicodeBold';
  font-style: normal;
  font-weight: bold;
  src: url('#{$nau-font-path}/newathuBold5_5.woff');
  src: url('#{$nau-font-path}/newathuBold5_5.woff') format ('woff');
}

@font-face {
  font-family: 'NewAthenaUnicodeBoldItalic';
  font-style: italic;
  font-weight: bold;
  src: url('#{$nau-font-path}/newathuBoldItalic5_5.woff');
  src: url('#{$nau-font-path}/newathuBoldItalic5_5.woff') format ('woff');
}

@font-face {
  font-family: 'NewAthenaUnicodeItalic';
  font-style: italic;
  font-weight: normal;
  src: url('#{$nau-font-path}/newathuItalic5_5.woff');
  src: url('#{$nau-font-path}/newathuItalic5_5.woff') format ('woff');
}

.greek {
  font-family: NewAthenaUnicode, Arial, sans-serif;
}

.greek-text {
  line-height: 1.9;

  &__line {
    display: flex;
    position: relative;
  }

  &__line-number {
    flex: 0 0 30px;
    border-right: 1px solid #ccc;
    color: #ccc;
    user-select: none;
  }

  &__text {
    font-family: NewAthenaUnicode, Arial, sans-serif;
    padding-left: 0.5em
  }

  &.greek-text--compact {
    line-height: 1.6
  }

}

.annotated-text {
  &.greek-text-lines {
    .gutter.text {
      color: #ccc;
      border-right: 1px solid #ccc;
      margin-right: 0.2em;
      min-width: 30px;
    }

    .content {
      font-family: NewAthenaUnicode, Arial, sans-serif;
      word-break: break-word;
    }
  }

  .ghent-cdh-annotation-svg {
    top: -4px; // todo: should be fixed in annotated-text-component
  }
}

.modal-title {
  .greek {
    font-size: $fz-medium;
    font-weight: 500;
  }
}
