.pageheader {
  .navbar-default {
    .nav-primary {
      >li.dropdown {
        >a {
          padding-right: 34px;
        }
        .dropdown-toggle {
          i {
            right: 16px;
          }
        }
      }
    }
  }

  .header_title {
    h1 {
      font-size: 40px;
    }
  }
}
