.pageheader {

  .navbar-default {
    .nav-primary {
      >li.dropdown {
        >a {
          padding-right: 34px;
        }
        .dropdown-toggle {
          i {
            right: 16px;
          }
        }
      }
    }

    .nav-tertiary > li > a {
      z-index: 100; // Ensure tertiary nav links are above header title
    }
  }

  .header_title {
    h1 {
      font-size: 40px;
    }
  }
}
