.widget-container {
  background-color: #fafafa !important;
  padding: 0 15px 15px 15px;
  height: 100%;

  .widget {
    border-bottom: 1px solid #e9ecef;
  }

  .widget--sticky {
    position: sticky;
    top: 0;
    background-color: #fafafa;
    z-index: 1;
  }
}