imports:
  # Import Keycloak security providers
  - { resource: '@IDCIKeycloakSecurityBundle/Resources/config/security.yaml' }

security:
#  enable_authenticator_manager: true

  firewalls:
    main:
      pattern: ^/
      provider: idci_keycloak_security_provider
      entry_point: IDCI\Bundle\KeycloakSecurityBundle\Security\EntryPoint\AuthenticationEntryPoint
      custom_authenticators:
        - IDCI\Bundle\KeycloakSecurityBundle\Security\Authenticator\KeycloakAuthenticator
      logout:
        path: idci_keycloak_security_auth_logout

  access_control: # access control is configured in controllers
    - { path: ^/, roles: PUBLIC_ACCESS }
