imports:
  # Import Keycloak security providers
  - { resource: '@IDCIKeycloakSecurityBundle/Resources/config/security.yaml' }

security:
#  enable_authenticator_manager: true
  providers:
    custom_keycloak_bearer:
      id: App\Security\User\CustomKeycloakBearerUserProvider

  firewalls:

    annotation_flow:
      pattern: ^/api
      stateless: true  # Important: no session for API
      provider: custom_keycloak_bearer # Use custom user provider
      entry_point: IDCI\Bundle\KeycloakSecurityBundle\Security\EntryPoint\BearerAuthenticationEntryPoint
      custom_authenticators:
        - IDCI\Bundle\KeycloakSecurityBundle\Security\Authenticator\KeycloakBearerAuthenticator

    main:
      pattern: ^/
      provider: idci_keycloak_security_provider
      entry_point: IDCI\Bundle\KeycloakSecurityBundle\Security\EntryPoint\AuthenticationEntryPoint
      custom_authenticators:
        - IDCI\Bundle\KeycloakSecurityBundle\Security\Authenticator\KeycloakAuthenticator
      logout:
        path: idci_keycloak_security_auth_logout

  access_control: # access control is configured in controllers
    - { path: ^/api, methods: [OPTIONS], allow_if: "true" }
    - { path: ^/, roles: PUBLIC_ACCESS }
    # Allow OPTIONS requests without authentication

